{% load humanize forum_extras %}
<li class="thread{% if thread.is_pinned %} thread--pinned{% endif %}">
  <a class="thread__avatar" href="{{ thread.author.get_absolute_url }}">
    {% include "partials/avatar.html" with member=thread.author %}
  </a>

  <div class="thread__main">
    <h3 class="thread__title">
      {% if thread.is_pinned %}<span class="chip chip--pinned">Pinned</span>{% endif %}
      {% if thread.is_closed %}<span class="chip chip--closed">Closed</span>{% endif %}
      <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
    </h3>
    <p class="thread__meta">
      <a href="{{ thread.author.get_absolute_url }}">{{ thread.author.display_name }}</a>
      started {{ thread.created_at|date:"j M Y" }}
      {# Which section it is in, for lists that mix them, such as What's new. #}
      {% if show_forum %}&middot; in <a href="{% url 'forum' thread.forum.slug %}">{{ thread.forum.title }}</a>{% endif %}
    </p>
  </div>

  <dl class="thread__count">
    <div><dt>Replies</dt><dd>{{ thread.reply_count|intcomma }}</dd></div>
    <div><dt>Views</dt><dd>{{ thread.view_count|compact_count }}</dd></div>
  </dl>

  <div class="thread__last last">
    {% with post=thread.last_post %}
      {% if post %}
        {% include "partials/avatar.html" with member=post.author size="avatar--sm" %}
        <span>
          <a class="last__title" href="{{ thread.get_absolute_url }}?page=last#post-{{ post.pk }}">{{ post.created_at|forum_time }}</a>
          <span class="last__meta"><a href="{{ post.author.get_absolute_url }}">{{ post.author.display_name }}</a></span>
        </span>
      {% endif %}
    {% endwith %}
  </div>
</li>
